altair
attrs
blinker
cachetools        
certifi       
charset-normalizer
click
colorama
gitdb
GitPython
idna
Jinja2
jsonschema
jsonschema-specifications
markdown-it-py
MarkupSafe
mdurl
narwhals
numpy
packaging
pandas
pillow
plotly
protobuf
pyarrow
pydeck
Pygments
python-dateutil
pytz
referencing
requests
rich
rpds-py
six
smmap
streamlit
tenacity
toml
tornado
typing_extensions
tzdata
urllib3
watchdog